/* ####                                                 ###
  ##  ##                                                 ##
 ##        ####    #####     ####    ######    ####      ##
 ##       ##  ##   ##  ##   ##  ##    ##  ##      ##     ##
 ##  ###  ######   ##  ##   ######    ##       #####     ##
  ##  ##  ##       ##  ##   ##        ##      ##  ##     ##
   #####   #####   ##  ##    #####   ####      #####    #### */
  
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
  --text-color: white;
  --background-color: black;

  --main-color: white;
  --main-color-dark: rgba(255, 255, 255, 0.715);

  --font: "Cruinn Medium";
}

body {
  color: var(--text-color);
  font-family: var(--font);
  background-color: var(--background-color);

  margin: 0;
  overflow: hidden;
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
}

*::selection {
  background-color: rgba(255, 255, 255, 0.333);
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#background {
  position: fixed;
  top: 0; right: 0;

  height: 100vh;
  width: 100vw;
  
  z-index: -100;
}

header {
  padding: 2.5px 15px; 
  z-index: 100;
  margin: 10px 15px;

  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}

header:active {cursor: grabbing;}

header, .action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-size: 18px;
}

.action-buttons {
  gap: 10px;
}

.action-buttons > div {
  transition: all 0.3s ease;
  font-size: 26px;
  z-index: 9999;
}

.action-buttons > div:hover {
  opacity: 0.6;
}






/*
   ##                ##     ###
  ####               ##      ##
 ##  ##   ##  ##    #####    ##
 ##  ##   ##  ##     ##      #####
 ######   ##  ##     ##      ##  ##
 ##  ##   ##  ##     ## ##   ##  ##
 ##  ##    ######     ###   ###  ##
*/

.auth-LoginScene {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.auth-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.auth-logo {
  height: 130px;
}

.auth-title {
  font-size: 30px;
  font-family: 'Nunito';
}

.auth-sub-title {
  text-align: center;
  max-width: 200px;
}

.auth-input {
  color: var(--text-color);
  border: 2px solid var(--main-color-dark);
  text-align: center;
  border-radius: 15px;
  padding: 5px;
  background-color: transparent;
  backdrop-filter: blur(5px);
  width: 200px;
  font-family: var(--font);

  transition: opacity 0.3s ease;
}

.auth-input:focus, .auth-input:active {
  border-width: 2px;
}

.auth-input::placeholder:focus {
  opacity: 0.5;
}

.auth-input::placeholder {
  color: var(--text-color);
  font-size: 14px;
}

.auth-button {
  color: black;
  border: 2px solid var(--main-color-dark);
  border-radius: 15px;
  padding: 5px;
  background-color: var(--main-color);
  width: 200px;
  font-family: var(--font);
  font-weight: bold;
  transition: all 0.3s ease;
}

.auth-input:hover,
.auth-button:hover {
  opacity: 0.7;
}

.auth-swap-mode {
  text-decoration: none;
  color: var(--text-color);
  transition: all 0.3s ease;
}

.auth-swap-mode:hover {
  opacity: 0.8;
}

.warn {
  color: red;
}








/* 
##   ##             ##
### ###
#######   ####     ###     #####
#######      ##     ##     ##  ##
## # ##   #####     ##     ##  ##
##   ##  ##  ##     ##     ##  ##
##   ##   #####    ####    ##  ##
*/

.MainScene {
  display: flex;
  flex-direction: row;

  flex: 1;

  position: relative;
}

.main-modpacks-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 90%;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.2);

  gap: 20px;
  padding: 15px;
  margin-left: 15px;
}

.modpack {
  border: 2px solid white;
  border-radius: 15px;

  display: flex;
  flex-direction: column;

  height: 55px;
  width: 180px;

  transition: all 0.3s ease;
}

.modpack > img {
  flex: 1
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;

  gap: 15px;

  padding: 15px;
  margin: 0 15px;

  height: 90%;

  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.2);
}

.main-settings-toggle {
  position: absolute;

  top: 25px;
  right: 15px;
}

.main-title {
  font-size: 42px;
  font-weight: 500;
  margin-top: 10px;
}

.main-description {
  font-size: 19px;
  line-height: 1.5;

  text-wrap: initial;
}

.main-control {
  display: flex;
  flex-direction: row;
  gap: 10px;

  margin: 15px 5px;

  margin-top: auto;
}

.main-play {
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid white;

  color: white;
  font-family: 'Cruinn Medium';
  font-size: 18px;
  font-weight: 500;

  padding: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  height: 35px;
  width: 170px;

  transition: all 0.3s ease;
}

.main-play > img {
  height: 20px;
}

.main-folder, .main-settings-toggle {
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid white;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 35px;
  width: 35px;

  transition: all 0.3s ease;
}

.main-folder > img, .main-settings-toggle > img {
  height: 20px
}

.main-content-2 {
  display: none;
  flex-direction: row;
  align-items: center;

  margin: 0px 5px;
  margin-top: -10px;
  gap: 20px;
}

.main-progress-bar {
  border: 2px solid white;  
  border-radius: 15px;

  height: 5px;
  width: 60%;
}

.main-auth {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  
  width: auto;
  min-width: 145px;
  padding: 0px 25px;
  height: 35px;

  border: 2px solid white;
  border-radius: 10px;

  margin-left: auto;

  transition: all 0.3s ease;
}

.main-auth > label > img {
  height: 25px;
  width: 25px;
  border-radius: 30px;

  border: 0.5px solid black;
  transition: all 0.3s ease;
}

.main-auth > span {
  font-family: Nunito;
  font-weight: bold;
  padding-left: 10px;
  border-left: 2px solid white;
}

.main-play:hover, .main-folder:hover, .main-settings-toggle:hover, .modpack:hover,
.main-auth > label > img:hover {
  opacity: 0.8;
}

.main-play:active, .main-folder:active, .main-settings-toggle:active, .modpack:active,
.main-auth > label > img:active {
  /* transform: scale(0.985); */
  opacity: 0.5;
}

.blur {
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;

  backdrop-filter: blur(10px);
  z-index: 2;
}

.settings {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: 10;

  margin: 50px;
  margin-top: 10px;

  padding: 15px;

  background-color: rgb(0, 0, 0, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.505);
  border-radius: 10px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.blur, .settings {display: none;}

.settings-title {
  font-weight: 500;
  font-size: 30px;
}

.settings-close {
  position: absolute;
  top: 0;
  right: 0;

  margin: 15px;
  font-size: 28px;
}

.settings-ram {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.ram-slider {
  width: 60%;
  height: 15px;
  border-radius: 5px;
  background: transparent;
  outline: none;
  transition: all 0.3s ease;
}

.tick-labels {
  width: 64%;
  margin-left: 10px; /* <--- Кастыль ебаный */

  display: flex;
  justify-content: space-between;
}

.tick-labels span {
  font-family: 'Nunito';
  white-space: nowrap;

  color: rgba(255, 255, 255, 0.7);
}

.settings-ram > span {
  font-family: 'Nunito';
  display: flex;
  gap: 5px;
  align-items: center;
}

.settings-checkboxs {
  display: flex;
  width: 80%;
  gap: 40px;
  
  margin-top: 30px;

  justify-content: center;
}

.settings-checkboxs > span {
  display: flex;
  font-size: 18px;
  align-items: center;
  font-weight: 500;
}